<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>注册</title>

    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="container" ng-app="uregister" ng-controller="registerController">
        <div class="col-md-8 col-md-offset-2">
            <form role="form" name="registerForm" ng-submit="register(registerForm.$valid)" class="form-horizontal" autocomplete="off" novalidate>
                <div class="form-group  has-feedback">
                    <div class="input-group">
                        <span class="input-group-addon">邮箱</span>
                        <input class="form-control" id="userName" name="userName" ng-model="form.user.userName" type="email" required />
                    </div>
                </div>
                <div class="form-group  has-feedback">
                    <div class="input-group">
                        <span class="input-group-addon">昵称</span>
                        <input class="form-control" id="nickName" name="nickName" ng-model="form.user.nickName" type="text" required/>
                    </div>
                </div>
                <div class="form-group  has-feedback">
                    <div class="input-group">
                        <span class="input-group-addon">密码</span>
                        <input class="form-control" id="password" name="password" ng-model="form.user.password" type="text" required/>
                    </div>
                </div>
                <div class="form-group  has-feedback">
                    <div class="input-group">
                        <span class="input-group-addon">密码确认</span>
                        <input class="form-control" id="passwordConfirm" name="passwordConfirm" ng-model="form.user.passwordConfirm" type="text" required/>
                    </div>
                </div>
                <div class="form-group  has-feedback">
                    <div class="input-group">
                        <span class="input-group-addon">QQ</span>
                        <input class="form-control" id="qq" name="qq" ng-model="form.user.qq" type="text" ng-pattern="/^\d{5,10}$/">
                    </div>
                </div>
                <div class="form-group  has-feedback">
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon">验证码</span>
                            <input ng-model="form.kaptcha" class="form-control" type="text" id="kaptcha" ng-model="login.kaptcha" minlength="4" maxlength="4" required/>
                            <img  style="display:inline-block;margin-left:5px;" src="/captcha-image" title="看不清，点击换一张" height="32" id="kaptchaImage" />
                        </div>
                    </div>
                </div>
                <div class="form-group  has-feedback">
                    <input type="checkbox" value="1" />&nbsp;同意XXXX协议
                </div>
                <div class="form-group text-center">
                    <input class="btn btn-primary btn-sm" type="submit" ng-disabled="registerForm.$invalid" value="注册" />
                </div>
            </form>
        </div>
    </div>

    <script src="/resources/js/angular.js"></script>
    <script src="/resources/js/jquery-2.1.3.min.js"></script>
    <script src="/resources/js/bootstrap.min.js"></script>
    <script src="/resources/js/tdct/register.js"></script>
</body>
</html>